<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="aplikasi yang memberikan informasi menu pada warung">
    <link rel="icon" type="image/png" href="./images/icon/favicon1.png">
    <link rel="icon" type="image/png" href="./images/icon/favicon2.png">
    <link rel="apple-touch-icon" type="image/png" href="./images/icon/apple-touch-icon.png">
    <title>e-Warung</title>
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"/>
    
</head>

    <body-html></body-html>


</html>
